<div class="row">
  <div class="col-md-6">
    <div class="post">
      <img src="img/rails1.png">
      <div class="post-content">
        <h3>Lorem Ipsum</h3>
        <small>Posted by Daniel on October 24th, 2014</small>
        <p>dhjsadfhjdsfadfsdfsakdfsadfsfsdaadfssdfadsfadls</p>
        <a class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="post">
      <img src="img/rails1.png">
      <div class="post-content">
        <h3>Lorem Ipsum</h3>
        <small>Posted by Daniel on October 24th, 2014</small>
        <p>dhjsadfhjdsfadfsdfsakdfsadfsfsdaadfssdfadsfadls</p>
        <a class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
</div>